@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

body {
    /* background: var(--background);
  color: var(--foreground); */
    /* font-family: Arial, Helvetica, sans-serif;
   */

    font-family: "Stack Sans Text", sans-serif;
}